# Database
DATABASE_URL="postgresql://nilier:nilier_secret@localhost:5432/nilier_crm?schema=public"

POSTGRES_USER=nilier
POSTGRES_PASSWORD=nilier_secret
POSTGRES_DB=nilier_crm

# Auth
NEXTAUTH_SECRET="change-me-in-production-use-random-string"
NEXTAUTH_URL="http://localhost:3000"

# App
NODE_ENV=development
